
#webtitle {
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;;
  color: #333333;
}

body {
  /*font-family: 'Open Sans', sans-serif;*/
  color: #aaaaaa;
  

}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}

#wrapper div {
  text-align: center;
}
/*
#left-module {
  float: left;
  border-right: 1px solid #dddddd;
  height: 650px;
  width: 25%;
  overflow: hidden;
  position: relative;
}
*/
#measurements {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#measurements tr {
  line-height: 0px;
}


#dress-img{
  position: absolute;
  left: 38.55%;
  top:25%;
}
#canvasOutput{
  position: absolute;
  left: 38.55%;
  top:15%;
}

/*
#mid-module img {
  margin-left: auto;
  margin-right: auto;
}

#dress-img {
  position: relative;
  margin-top: -320px;
}
*/
#right-module {
  float: right;
  width: 20%;
  border-left: 1px solid #dddddd;
  overflow: hidden;
  position: relative;
  height: 650px;
}
/*
#dress-container {
  margin-left: 50%;
  margin-right: auto;
  overflow: auto;
  max-height: 450px;
}

#dress-container img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  width: 50%;
}
*/