body {
    margin: 0; 
    padding: 0;
    height:100vh;
    display:flex;
    align-items: center;;
    justify-content: center;
    
}

form{
    width:400px;
    height:500px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    border-radius:10px;
    border:2px solid #000;
    
}
form > *{
    margin:5% 0;
}
form input[type="text"], form input[type="password"]{
    border:none;
    outline:none;
    background-color:transparent;
    border-bottom: 2px solid #000;
    
    font-size:16px;
    width:75%;
    
}
form input[type="text"]::placeholder, form input[type="password"]::placeholder{
    color:#000;
    
}
form input[type="submit"]{
    border:none;
    outline:none;
    background-color:transparent;
    
    color:#fff;
    background-color:#000;
    padding:10px;
    width:75%;

    font-family:"Roboto-Condensed", sans-serif;
    font-size:24px;
    
}

form a{
    
    font-family:sans-serif;
}
form h1{
    font-family: "Roboto-Condensed", sans-serif;
}
