.close-icon{
   height: 100px;
   width: 100px;
   border-radius: 5px;

}
.close-icon:after {
    
    content: "\274c"; /* use the hex value here... */
    font-size: 50px; 
    color: #000;
    line-height: 100px;
    text-align: center;
}
.close-icon:hover{
	opacity:.8;
}
.item{
	width:100%;
	height:15vh;
	border-top:1px solid #ccc;
}