<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="public/scripts/script.js"></script> <!--import external javascript-->
  
  <script src="public/scripts/cv.js"></script>
  <script async src="public/scripts/opencv.js" onload="onOpenCvReady();" type="text/javascript"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
  <!--For Roboto-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public/style/dress.css"> <!--import external css-->
  <title> Dress Fitter</title>
</head>

<body>
<div id="wrapper">
  <div class="container" >
      <h1 id="webtitle">Bridal Fitter</h1>
      <h3 id="rec-size">Model Size</h3>
  </div>

    <div id="left-module" class="container w-25 float-left" style="border-right: 1px solid #ddd; height: 650px;">
      <form action='/dress' method="post" enctype="multipart/form-data" class="upload">
        <h3>Upload your picture</h3>
	   <!-- <input type="file" id="chosenFile" name="chosenFile" accept="image/*" onchange="setModel()" />-->

		   <input class="my-3" type="file" id="fileInput" name="file">
	<!--<button id="submit">Submit</button>-->
      </form> <!--upload-->
      <h3 class="mt-4">Measurements</h3>
	  <table id="measurements">
	    <tr>
  		  <th><h4>Chest</h4></th>
  		  <th><select id="chest_meas">
    	    <option value="c1">32</option>
    	    <option value="c2">33.5</option>
    	    <option value="c3">35</option>
    	    <option value="c4">36.5</option>
    	    <option value="c5">38</option>
    	    <option value="c6">39.5</option>
  		  </select></th>
	    </tr>

	    <tr>
  		  <th><h4>Waist</h4></th>
  		  <th><select id="waist_meas">
    	    <option value="w1">24</option>
    	    <option value="w2">25.5</option>
    	    <option value="w3">27</option>
    	    <option value="w4">28.5</option>
    	    <option value="w5">30</option>
    	    <option value="w6">31.5</option>
  		  </select></th>
	    </tr>

	    <tr>
  	      <th><h4>Hips</h4></th>
  		  <th><select id="hips_meas">
    	    <option value="h1">33</option>
    	    <option value="h2">35</option>
    	    <option value="h3">36.5</option>
    	    <option value="h4">38</option>
    	    <option value="h5">39.5</option>
    	    <option value="h6">41</option>
  		  </select></th>
	    </tr>
	  </table>
  	
  	  <button type="button" class="btn btn-primary mt-5 mb-4" style="border-radius: 30px; font-size: 1.2em;" onclick="model()">Get Recommended Size</button><br><br>
      <a href="basket?n=<%=name%>&p_id=<%=p_id%>" class="btn btn-primary" style="border-radius: 30px; font-size: 1.2em">
        Add To Cart
      </a>
    </div> <!--left-module-->

      
	<div id="mid-module">
		<canvas id="canvasOutput" style="height:400px;"></canvas>
				
				 
		<img id="dress-img" class="" src="<%= src %>" style="display:none; height:400px;"/>
	
		<img id="model-img" class="" src="" style="position:relative;display:none; height:400px"/>
	</div>
<!--
  	<div id="right-module">
  	  <h3>Dress Library</h3>
	  <div id="dress-container">
	  </div><br> dress-container
	  <div class="upload">
        <h3>Add to dress library</h3>
        <input type="file" id="chosenDressFile" />
      </div> upload
    </div> right-module
  -->
</div> <!--wrapper-->
</body>

</html>
